<div id="places" class="places"> 
    <div class="container places__container">
        
            <div class="card-town places__card">
                <span class="card-town__subtitle">Spain </span>
<h2 class="card-town__title">Grand Spain Madrid</h2>
<p class="card-town__text">But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system</p>
<a href="#" class="button button--card-town card-town__button ">Book Now</a>
        </div>        
    </div>
</div>