<section class="what-say">
    <div class="container what-say__container">
        <h2 class="footer__title">What Our  Tourist Say</h2>
          <div class="what-say__card card" >
            <div class="card__image-wrap">
              <img src="images/card-3.png" alt="" class="card-image__pic"/>
            </div>
            <div class="card__content">
              <h2 class="card__user">SAM SUMON</h2>
              <p class="card__text" ><span class="card__item"> &#128630;</span>But I must explain to
                you how all this mistaken idea of account to denouncinpleasure
                and praising pain But I must explain to you how all this
                mistaken idea of account to nai denouncing pleasure and praising
                pain was account born and I account will give you a complete
                account of the system was account born and I account will give
                you a nai the complete account of the system</p>
            </div>
          </div>
      </div>
</section>