.link-card{
    // &:hover+&__icon{
    //   @include svg(50px,red);
    // }
  // @include flex-center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__text{
      color: $grey-light;
      font-size: 24px;
      font-family: $base-font;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 0.5px;
      @media screen and (min-width: $screen-desktop){
        color: $grey-light;
        font-size: 30px;
        font-family: $base-font;
        font-weight: 300;
        line-height: 26px;
         letter-spacing: 0.5px;
      }
  }
  &__icon{
    @include svg(50px,blue);
    margin-bottom: 25px;
  }
  &__icon:hover{
    @include svg(50px,red);
  }
}