.places{
    height: 762px;
    background-image: url(../images/section-2.png);
    background-repeat: no-repeat;
    background-size: 210%;
    background-position: center;
    background-position-y: 100%;
    padding-bottom: 20px;

    @media screen and (min-width: $screen-desktop){
        background-size: 100%;
        background-position-y: 100%;
        padding-left: 150px;
        padding-bottom:90px;

    }

    &__container{ 
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      
        @media screen and (min-width: $screen-desktop){
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            align-self: flex-end;

        }
    }
   
}